<div>
<script id="home-main" type="text/x-handlebars-template">
    <div class="app profile-page">
        <header class="header" role="banner">
            <div class="header-item__img">
                <div class="default-avatar">
                    <img src="/assets/images/logo/logo128.jpg" />
                </div>
                {{> home-group-info-partial}}
            </div>
        </header>
        <main class="main-profile" role="main">
            {{> home-actions-partial}}
        </main>
    </div>
</script>
<script id="home-actions-partial" type="text/x-handlebars-template">
    <div class="main__wrapper">
        <div class="icons">
            {{#each actions}}
                <div><i class="action-item {{name}} fa {{icon}}" data-name="{{name}}" title="{{title}}" aria-hidden="true"></i></div>
            {{/each}}
        </div>
        <div class="panel panel-item panel__padding profile hide">
            <section class="members-info">
                <ul class="members-list">
                    {{#each members}}
                        <li data-mid="{{id}}">
                            <div class="member-info">
                                <div class="member-avatar">
                                    <img src="{{avatar}}" />
                                </div>
                                <div class="username">{{username}}</div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </section>
        </div>
        <div class="panel panel-item panel__padding photos hide">
            <section class="photoSwipeContainer"></section>
        </div>
        <div class="panel panel-item panel__padding logo hide">
            <section class="logo">
                <img src="/assets/images/logo/logo640.jpg" />
            </section>
        </div>
        <div class="panel panel-item panel__padding events events-panel hide">
            <div class="header-menu">
                <div class="header-menu__item--left">聚会流程(2017-10-02)</div>
                <a class="btn add-btn btn-primary pull-right hide" data-action="add" data-toggle="modal" data-target="#edit-modal"><i class="fa fa-plus">添加</i></a>
            </div>
            {{#each events}}
                {{> home-event-item-partial}}
            {{/each}}
        </div>
        <div id="setting" class="panel-item setting hide">
            <div class="panel panel__padding color-setting">
                <a class="btn save-btn btn-primary pull-right color-btn" data-action="color">保存</a>
                <div class="content">
                    <h1>更改背景</h1>
                    <hr>
                </div>
            </div>
            <div class="panel panel__padding profile-setting">
                <a class="btn save-btn btn-primary pull-right" data-action="info">保存</a>
                <div class="content">
                    <h2 class="edit-header">编辑信息</h2>
                    <hr>
                    <div class="personal-info">
                        <form class="form-horizontal profile-form" role="form">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">名称：</label>
                                <div class="col-lg-8">
                                    <input class="form-control name" type="text" name="name" value="{{group.name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">全名：</label>
                                <div class="col-lg-8">
                                    <input class="form-control fullName" type="text" name="fullName" value="{{group.fullName}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">时间：</label>
                                <div class="col-lg-8">
                                    <input class="form-control time" type="text" name="time" value="{{group.time}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">成员人数：</label>
                                <div class="col-lg-8">
                                    <input class="form-control members" type="text" name="memberCount" value="{{group.memberCount}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">概述：</label>
                                <div class="col-lg-8">
                                    <textarea class="form-control description" name="description" value="{{group.description}}"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {{> home-user-config-partial}}
        </div>
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        确定要删除当前项？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <a class="btn btn-danger btn-ok">删除</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirm-forbidden" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                        确定禁止当前用户登录？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <a class="btn btn-danger btn-ok">禁止</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirm-initPassword" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                        确定要给当前用户初始化密码？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <a class="btn btn-danger btn-ok">初始化</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <a class="btn btn-primary btn-ok">保存</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="user-info-modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        详细信息
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="home-event-item-partial" type="text/x-handlebars-template">
    <div id="event_{{id}}" class="events__content">
        <div class="events__timeline">
            <span class="events__timeline--circle"></span>
        </div>
        <div class="events__content--info">
            <h3 class="event-description">{{title}}</h3>
            <span class="event-hour">{{time}}</span>
        </div>
        <div class="events__content--date actions hide">
            <a class="btn btn-default evt-action-item" data-action="edit" data-evt-id="{{id}}" data-toggle="modal" data-target="#edit-modal">
                <i class="fa fa-edit" title="编辑"></i>
            </a>
            <a class="btn btn-default evt-action-item" data-action="delete" data-evt-id="{{id}}" data-toggle="modal" data-target="#confirm-delete">
                <i class="fa fa-close" title="删除"></i>
            </a>
        </div>
    </div>
</script>

<script id="home-event-form-partial" type="text/x-handlebars-template">
    <div class="content">
        <h2 class="edit-header">{{header}}</h2>
        <hr>
        <div class="personal-info">
            <form class="form-horizontal event-form" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">标题：</label>
                    <div class="col-lg-8">
                        <input class="form-control title" type="text" name="title" value="{{title}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">时间：</label>
                    <div class="col-lg-8">
                        <input class="form-control time" type="text" name="time" value="{{time}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">显示位置：</label>
                    <div class="col-lg-8">
                        <input class="form-control position" type="text" name="position" value="{{position}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">概述：</label>
                    <div class="col-lg-8">
                        <textarea class="form-control description" name="description" value="{{description}}"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>

<script id="home-user-config-partial" type="text/x-handlebars-template">
    <div class="panel panel__padding user-setting">
        <div class="content">
            <h1>用户设置</h1>
            <p class="text-danger">注意：点击初始化密码后，用户的密码会变为224-123456</p>
            <p class="text-danger">初始化密码后，为了安全，请通知该用户用上面的密码登录账户，并立刻更改密码！</p>
            <hr>
            <div class="container">
            {{#each users}}
                <div id="user_{{id}}" class="row">
                    {{> home-user-config-item-partial isSuper=@root.user.isSuperAdmin}}
                </div>
            {{/each}}
            </div>
        </div>
    </div>
</script>

<script id="home-user-config-item-partial" type="text/x-handlebars-template">
    <div class="col-sm-6 col-md-6">
        <h3 class="event-description">{{username}}</h3>
        <span class="event-hour">{{display}}</span>
    </div>
    <div class="col-sm-6 col-md-6 actions">
        {{#if isSuper}}
            {{#if isAdmin}}
                <a class="btn btn-default u-config-item" data-action="setNormal" data-uid="{{id}}">
                    <i>降为普通用户</i>
                </a>
            {{else}}
                <a class="btn btn-default u-config-item" data-action="setAdmin" data-uid="{{id}}">
                    <i>设置为管理员</i>
                </a>
            {{/if}}
        {{/if}}
        <a class="btn btn-default u-config-item" data-uid="{{id}}" data-toggle="modal" data-target="#confirm-initPassword">
            <i>初始化密码</i>
        </a>
        {{#if isActive}}
            <a class="btn btn-default u-config-item" data-uid="{{id}}" data-toggle="modal" data-target="#confirm-forbidden">
                <i>禁止</i>
            </a>
        {{else}}
            <a class="btn btn-default u-config-item" data-action="setActiviated" data-uid="{{id}}">
                <i>激活</i>
            </a>
        {{/if}}
    </div>
</script>
<script id="home-group-info-partial" type="text/x-handlebars-template">
    <h2>{{group.fullName}}</h2>
    <h3>成员人数：{{group.memberCount}}</h3>
    <p class="bio">{{group.time}}</p>
</script>
<script id="home-user-info-partial" type="text/x-handlebars-template">
     <div class="info">
        <p><strong>手机号码：</strong> {{contact.mobile}} </p>
        <p><strong>生日：</strong> {{contact.birthday}} </p>
        <p><strong>真实姓名：</strong>{{contact.username}}</p>
        <p><strong>地址：</strong>{{contact.address}}</p>
        <p><strong>工作：</strong>{{contact.job}}</p>
        <p><strong>工作地址：</strong>{{contact.jobAddress}}</p>
    </div>
</script>
</div>
