<div>
<script id="contact-main" type="text/x-handlebars-template">
<div class="jumbotron contact-page">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="info">联络簿：共{{contacts.length}}人</h4>
            <div class="action">
                <a class="btn refresh-btn btn-info"><span>刷新</span><i class="fa fa-refresh"></i></a>
                <a class="mobile-hide btn btn-info" href="/api/contacts/download"><span>下载</span><i class="fa fa-download"></i></a>
                {{#if user.isAdmin}}
                    <a class="btn add-btn btn-primary"><span>添加</span><i class="fa fa-plus"></i></a>
                {{/if}}
            </div>
        </div>
        <div class="panel-body">
            <table id="contactList" class="table table-responsive table-hover table-striped">
                <thead>
                    <tr>
                        <th class="sortable both" data-name="username">姓名</th>
                        <th class="mobile-hide address sortable both" data-name="address">地址</th>
                        <th class="sortable both" data-name="job">工作单位</th>
                        <th class="mobile-hide jobAddress sortable both" data-name="jobAddress">工作地点</th>
                        <th class="sortable both" data-name="mobile">联系电话</th>
                        <th class="sortable both" data-name="birthday">生日</th>
                        <th class="mobile-hide status sortable both" data-name="status">备注</th>
                    </tr>
                </thead>
                <tbody>
                    {{> contact-list-partial}}
                </tbody>
            </table>
        </div>
    </div>

</div>
</script>

<script id="contact-list-partial" type="text/x-handlebars-template">
    {{#each contacts}}
        {{> contact-item-partial}}
    {{/each}}
</script>

<script id="contact-item-partial" type="text/x-handlebars-template">
    <tr data-cid="{{id}}">
        <td class="username">{{username}}</td>
        <td class="mobile-hide address">{{address}}</td>
        <td class="job">{{job}}</td>
        <td class="mobile-hide jobAddress">{{jobAddress}}</td>
        <td class="mobile">{{mobile}}</td>
        <td class="birthday">{{birthday}}</td>
        <td class="mobile-hide status">{{status}}</td>
    </tr>
</script>
</div>
